.cityzens{
   &__title{
      margin-top: 60px;
      @include sm-d{
         margin-top: 40px;
      }
   }
   &__bg{
      margin-top: 45px;
      width: 100%;
      min-width: 800px;
      margin-bottom: 60px;
      @include lg-d{
         margin-top: 45px;

      }
      @include sm-d{

         margin-top: 25px;
         margin-bottom: 40px;
      }
   }
}