.btn {
	display: flex;
	align-items: center;
	justify-content: center;	
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.5s ease;
	width: 320px;
	font-weight: 900;
	font-size: 18px;
	line-height: 20px;
	&--yellow{
		padding: 27px 0px 27px 0px;
		border: 2px solid #A06000;
		background: #FFC700;
		color: #000000;
		&:hover {
			background: #FE4E4E;
			border: 2px solid #D74545;
			transition: all 0.5s ease;
			color: #fff;
		}
		&:visited,
		&:active,
		&:focus {
			background: #FFC700;
		}
		@include md-d{
			width: 280px;
		}
	}
	&--red{
		padding: 36px 0px 36px 0px;
		background: #FE4E4E;
		border: 2px solid #D74545;
		color: #ffffff;
		&:hover {
			background: #FFC700;
			border: 2px solid #A06000;
			transition: all 0.5s ease;
		}
		&:visited,
		&:active,
		&:focus {
			background: #FE4E4E;
		}
	}
	
}
